body {
    margin: 0;

    height: 100%;
}
.header {
    background-color: #31bffd;
    height: 50px;
    width: 100%;
    position: fixed;
    overflow: hidden;
    z-index: 0;
}

.sidenav {
    height: 100%;
    width: 8%;
    background-color: #314f4f;
    position: fixed;
    top: 50px;
    left: 0;
    z-index: 1;
    overflow: hidden;
    /*padding-top: 20px;*/
}

.main {
    background-color: #a9a9a9;
    margin-top: 50px;
    margin-left: 8%;
    height: 100%;
    width: 92%;
    z-index: -1;
    position: fixed;
    overflow: scroll;
    text-align: center; /* this line makes the boxes centered*/
}

.main .box {
    border: 1px solid black;
    width: 50%;
    height: 60px;
    margin: 5px auto;
}
