body {
    margin: 0;

    height: 100%;
}
.header {
    background-color: #31bffd;
    height: 50px;
    width: 100%;
    position: fixed;
    overflow: hidden;
    z-index: 0;
}
.header img {
    float: left;
    margin-left: 10px;
}

.header h1 {
    font-weight: bold;
    float: left;
    margin: 10px 0 auto 10px;
    color: white;
    font-family: Arial;
}

.sidenav {
    height: 100%;
    width: 15%;
    background-color: #202423;
    position: fixed;
    top: 50px;
    left: 0;
    z-index: 1;
    overflow: hidden;
    padding-top: 10px;
    text-align: center;
}

.sidenav button {
    background-color: #8a807f;
    border: none;
    color: white;
    text-align: left;
    width: 90%;
    margin: 2px auto;
    border-radius: 4px;
    padding: 10px;
}

.sidenav button:hover {
    background-color: lightgray;
    color: black;

}

.sidenav .selected button {
    background-color: #ee8903;
}

.main {
    background-color: #50504e;
    margin-top: 50px;
    margin-left: 15%;
    height: 100%;
    width: 85%;
    z-index: -1;
    position: fixed;
    overflow: scroll;
    text-align: center; /* this line makes the boxes centered*/
}

.main .box {
    background-color: #f1dce1;
    /*border: 1px solid black;*/
    width: 70%;
    height: 60px;
    margin: 5px auto;
    border-radius: 4px;
    padding: 4px;
}

.main .box .subject {
    font-family: Arial;
    font-size: xx-large;
    float: left;
}
.main .box .from {
    font-weight: bold;
    float: left;
}
.main .box .sender {

}
.main .box .content {
    width: 70%;
    float: right;
    border-left-style: solid;
    border-width: thin;
    height: 90%;
    text-align: left;

}

